@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    padding: 0 5em 0 10em;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

header p {
    font-size: 24px;
    font-weight: 500;
}

header ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 1em;
    margin-right: 8em;
}

.hero-bg {
    display: flex;
    gap: 10em;
    padding: 0 3em 2em 10em;
    background-color: #1F2937;
    justify-content: space-between;
}

.hero-left-container {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    width: 40%;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-left-container p {
    font-size: 18px;
}

.hero-placeholder {
    width: 40em;
    height: auto;
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10em;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

section{
    margin: 0 20em;
}

section .container {
    display: flex;
    justify-content: space-around;
    gap: 5em;
    margin-top: 3em;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container .info-placeholder {
    width: 100px;
    height: 100px;
    border-style: solid;
    border: 5px solid rgb(51, 108, 129);
    border-radius: 10px;
}

.info-container p {
    text-align: center;
}